# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log
*.sql
*.sqlite

# Archivos temporales y caché
*.tmp
*.temp
*.bak
*.swp
*.swo

# Archivos de entorno
.env

# Configs de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de XAMPP y configuraciones locales
htdocs/
xampp/

# Node (por si usás npm para assets)
node_modules/

# Otros
*.zip
*.rar
*.7z

